.navBar {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  font-family: "Poppins", serif;

  li {
    margin: 0 10px;
  }
  .nav-link {
    position: relative;
    transition: color 0.3s ease;

    &.active {
      color: #ffffff; // Change color for the active link

      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0%;
      height: 3px;
      background-color: #ffffff;
      transition: width 0.3s ease;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
